:root {
  --primary: #e549f6;
  --primary-010: #c8069b;

  --secondary: #1e91f6;
  --secondary-010: #0b61c1;

  --white: #fff;

  --black: #10101a;
  --black-010: #2a2a30;

  --grey: #a6a6a8;

  --background: #1a1b2e;
  --experience-background: #fad7f7e7;
}
